@import url("https://fonts.google.com/specimen/Rubik");

* {
    box-sizing: border-box;
    font-family: 'Rubik', 'Roboto', sans-serif;
    margin: 0 auto;
}
:root {
    --card-background-color: #c1f7dc;
    --count-background-color: #4bc0d9;
    --primary-border-color: #d7d7d7;
    --replies-bg-color: #76e5fc;
    --link-color: rgb(142, 59, 150);
    
    --primary-background-color: rgb(3, 29, 3);
    --text-color: blue;
}

body {
    background-color: var(--primary-background-color);

}
main {
    max-width: 750px; /*Placeholder*/
}
.votes {
    background-color: var(--primary-border-color);
    border-radius: 8px;
    font-size: 20px;
    margin-top: 10px;
    padding: 7px;
    position: absolute;
    text-align: center;
}

.upvote img,
.downvote img {
    background-color: var(--text-color);
    border-radius: 50%;
    padding: 5px;
}
.upvote,
.downvote {
    cursor: pointer;
}
.upvote img:hover,
.downvote img:hover {
    transform: scale(1.2);
}
.upvote img:focus,
.downvote img:focus {
    border: 2px solid pink
}
.count {
    color: var(--primary-background-color);
}
.modal,
.delete-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgba(0,0,0,0.9); 
}
  
.modal-content,
.delete-modal-content {
    background-color: var(--primary-background-color);
    border-radius: 30px;
    border: 2px solid var(--primary-border-color);
    color: var(--primary-border-color);
    font-size: 18px;
    margin: 15% auto;
    padding: 30px;
    width: 500px;
    height: 20vh;
}

.delete-modal-content {
  background-color: var(--count-background-color);
  height: 30vh;
}
.delete-modal-content p {
  animation: zoom-in-zoom-out 1s ease infinite;
  position: relative;
  top: 20px;
  text-align: center;
  text-shadow: 5px 5px 5px var(--link-color);
}
.modal-buttons {
  text-align: center;
  position: relative;
  top: 60px;
}
.modal-buttons a{
  border: 1.5px solid var(--card-background-color);
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  padding: 7px;
  text-decoration: none;
}
.cancel {
  background-color: var(--primary-border-color);
}
.cancel:hover {
  background-color: lightgrey;
  color: var(--text-color)
}
.delete-confirm-btn {
  background-color: rgb(201, 57, 57);
  color: white;
}
.delete-confirm-btn:hover {
  background-color: rgb(171, 59, 59);
  color: var(--card-background-color);
}
.modal-content p {
    animation: zoom-in-zoom-out 1s ease infinite;
    position: relative;
    top: 20px;
    text-align: center;
    text-shadow: 5px 5px 5px var(--count-background-color);
}
.delete-modal-content .close {
  color: var(--primary-background-color);
}
.close {
    border-radius: 50%;
    padding: 0 5px;
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    background-color: var(--card-background-color);
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

.details img {
    height: 40px;
    width: 40px;
}
.details {
    padding: 0 20px 30px;
}
.details,
.details small {
    margin-left: 20px;
}
div.new-comment-card,
div.comment-card {
    background-color: var(--card-background-color);
    border-radius: 10px;
    color: var(--text-color);
    margin: 20px 0;
    padding: 20px;
}
div.new-comment-card img {
    position: relative;
    left: 20px;
    bottom: 50px;
    height: 50px;
}

ul{
    border-left: 2px solid var(--primary-border-color);
    margin-left: 40px;
}
li {
    list-style: none;
}
ul li .replies{
    background-color: var(--replies-bg-color);
    border-radius: 10px;
    color: var(--text-color);
    margin: 20px 0;
    padding: 20px;
}
ul li .replies .details {
  padding-right: 0;
}

div.comment-card p,
li p {
    margin: 0;
    margin-left: 40px;
}
.edit-textarea {
  margin-top: 20px;
}

textarea {
    border-radius: 8px;
    margin-left: 50px;
    height: 100px;
    max-width: 500px;
}
textarea:focus {
    border: 2px solid var(--link-color);
    outline: none;
}
button[type=submit] {
    background-color: var(--link-color);
    border-radius: 5px;
    color: var(--primary-border-color);
    position: relative;
    bottom: 50px;
    left: 30px;
    padding: 8px;
}

.cross {
    font-size: 18px;
}
.buttons {
    float: right;
}
.details span a {
    float: right;
}
.reply-btn,
.delete-btn,
.hide-btn,
.edit-btn,
.save-btn,
.cancel-btn {
    background-color: var(--primary-border-color);
    border: 1px solid var(--primary-background-color);
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
}
.delete-btn {
    color: rgb(201, 57, 57);
}
.delete-btn:hover,
.delete-btn:active {
    background-color: rgb(201, 57, 57);
    color: var(--primary-background-color);
}
.hide-btn:active,
.hide-btn:hover,
.edit-btn:hover,
.save-btn:hover {
    color: var(--primary-border-color);
    background-color: var(--primary-background-color);
}

.modal,
.delete-modal {
    display: none;
}
.footer {
  color: var(--primary-border-color);
  display: flex;
}
.footer a {
  color: var(--link-color);
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }


  /* For viewports smaller than 320px */
@media (max-width: 320px) {
    .modal-content,
    .delete-modal-content {
      top: 100px;
      width: 100%; 
    }
    .modal-content p,
    .delete-modal-content p {
      top: 10px;
    }
    .modal-buttons {
      top: 30px;
    }
    .close {
      position: relative;
      left: 15px;
      bottom: 25px;
    }
    div.comment-card,
    ul li .replies {
      font-size: 12px;
      padding: 10px;
    }
    ul {
        margin-left: 20px;
    }
  
    div.comment-card p,
    ul li p {
      margin-left: 30px;
    }
    .votes {   
        font-size: 15px;
        margin: 0;
        padding: 3px;
    }
    
    .upvote img,
    .downvote img {
        background-color: var(--text-color);
        border-radius: 50%;
        padding: 3px;
    }
    .details {
      display: block;
      margin-left: 7px;
      margin-bottom: 10px;
      padding-bottom: 0;
    }
  
    .details img {
      float: left;
      margin-right: 10px;
    }
  
    .details span {
      display: block;
      margin-bottom: 5px;
    }
  
    .details small {
      display: block;
      margin-bottom: 5px;
    }
  
    div.new-comment-card {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    div.new-comment-card img {
        left: 0;
        bottom: 0;
        height: 45px;
    }
    textarea{
        margin-left: 0;
    }
    #new-comment,
    .edit-textarea {
      width: 100%;
    }
    .buttons {
      padding: 10px 0;
      position: relative;
      right: 20px;
    }

    .buttons a,
    .reply-btn {
      font-size: 12px;
      padding: 3px;
    }
    .reply-btn {
      position: relative;
      bottom: 30px;
    }
    .comment-card .reply-btn {
      position: relative;
      left: 20px;
    }
    button[type="submit"] {
      width: 100%;
      left: 0;
      top: 0;
    }
  }
  
  /* For viewports between 320px and 475px */
  @media (min-width: 321px) and (max-width: 475px) {
    .close {
      position: relative;
      left: 15px;
      bottom: 20px;
    }
    .comment-card .votes {
      left: 0.5px;
    }
    .replies .votes {
      left: 82px
    }
    .modal-content,
    .delete-modal-content {
      top: 100px;
      width: 100%; 
    }
    .modal-content p,
    .delete-modal-content p {
      top: 10px;
    }
    .modal-buttons {
      top: 30px;
    }
    div.comment-card,
    ul li .replies{
      font-size: 14px;
    }
    
    .details {
      display: block;
      margin-bottom: 10px;
      padding-left: 5px;
      padding-bottom: 0;
    }
  
    .details img {
      float: left;
      margin-right: 10px;
    }
  
    .details span {
      display: block;
      margin-bottom: 5px;
    }
  
    .details small {
      display: block;
      margin-bottom: 5px;
    }
  
    div.new-comment-card {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    div.new-comment-card img {
        left: 0;
        bottom: 0;
        height: 45px;
    }
    textarea {
        margin-left: 0;
    }
  
    #new-comment,
    .edit-textarea {
      width: 100%;
    }
    .buttons {
      display: flex;
      float: none;
      padding: 10px 0 0 15px;
    }
    .buttons a,
    .reply-btn {
      font-size: 14px;
      margin: 5px;
      padding: 5px;
    }
    .reply-btn {
      position: relative;
      bottom: 45px;
    }
    .comment-card .reply-btn {
      position: relative;
      left: 20px;
    }
    button[type="submit"] {
      width: 100%;
      left: 0;
      top: 0;
    }
  }
  
  /* For viewports between 475px and 600px */
  @media (min-width: 476px) and (max-width: 600px) {
    body {
      font-size: 14px;
    }
    .votes {
      padding: 3px;
    }
    .modal-content,
    .delete-modal-content {
      top: 100px;
      width: 100%; 
    }
    div.comment-card,
    ul li .replies {
      padding:15px;
    }
    .details {
      display: block;
      margin-left: 40px;
      padding: 10px 0;
    }
  
    .details img {
      float: left;
      margin-right: 10px;
    }
  
    .details span {
      display: block;
      margin-bottom: 5px;
    }
  
    .details small {
      display: block;
      margin-bottom: 5px;
    }
  
    div.new-comment-card {
      margin-top: 20px;
      margin-bottom: 20px;
      
    }
    div.new-comment-card img {
        left: 0;
        bottom: 0;
        height: 45px;
    }
    textarea{
        margin-left: 0;
        max-width: 100%;
    }
  
    #new-comment,
    .edit-textarea {
      width: 100%;
    }
    .buttons {
      position: relative;
      bottom: 40px;
    }

    .buttons a,
    .reply-btn {
      padding: 6px;
    }
    .reply-btn {
      position: relative;
      bottom: 45px;
    }
  
    button[type="submit"] {
      display: block;
      left: 0;
      top: 0;
      width: 50%;
    }
  }

@media screen and (min-width: 601px) {
  .new-comment-card {
    padding: 20px 0 0 0;
  }
  .comment-card .reply-btn {
    position: relative;
    left: 20px;
  }
}
